body .crm-catalog-header,
body .crm-catalog-result {
	max-width:100%;
	width:auto;
}

.crm-catalog-header {
	background:transparent;
	border:none;
}


.crm-catalog-searchresult img,
.crm-catalog-header img {
	margin:1.5em;
}


body .crm-catalogitem-cardframe {
	width: 250px;
	margin:1em 3em;
	padding:.8em;
	background:none;
	border:none;
}

.crm-catalogitem-cardframe .crm-shopping-link,
.crm-catalogitem-cardframe .readmore {
	display:none;
}


.crm-catalog-searchresult {
	padding:1em;
	margin:2em;
}

.crm-shoppingprocess-frame {
	border:none;
	margin:0 1em;
}